img {
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
}

#social_icons{
    height: 45px;
    width: 45px;
    color: #ffffff;
}

.bg {
    position: fixed;
    left: 0;
    right: 0;
    /* The image used */
    background-image: url("/static/desktop-1.jpg");

    /* Full height */
    height: 100%;

    z-index: -9999;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
    filter: blur(3px);
}

html, body{
    height: 100%;
}

.container-fluid{
    /*position: fixed;*/
    left: 0;
    right: 0;
    /*height: 100%;*/
}

.projects-main{
    /*position: relative;*/
}

#content{
    margin-top: 25%;
}

.cover{
    margin-left: 50%;
    margin-right: 10%;
    color: white;
    font-family: 'Sunflower', sans-serif;
}

h1{
    color: #ffffff;
}

.social_icons{
    width: 20px;
    fill: #902929;
    stroke: #ffffff;
}
.simpleicons-instagram-icon{
    width: 15px;
    height: 15px;
    fill: #902929;
    stroke: #ffffff;
}

/*.simpleicons-linkedin-icon{
    position: relative;
    height: 10px;
    width: 100%;
    left: 0;
    top: 0;
}*/

.svg-container{
    /*border: 10px solid #b6bdc3; */
    width: 100%;
    height: auto;
    /*background: #fff;*/
    /*margin: 0 auto;*/
}

#project-button-1{
    font-color: white;
}

.project {
  text-decoration: none;
  color: #008080;
  display: inline-block;
  border: 2px solid lightblue;
  height: 200px;
  width: 200px;
  margin: 40px 100px;