{% extends 'base.html' %}
{% block content %}
<div class = 'pane'>
    <div class = 'flash'>
              {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    </div>
    <div class='row'>
        {% if quad == 'true' %}
            {% set allQuadButton = 'btn-primary' %}
            {% set allServersButton = 'btn-default' %}
            {% set allClientsButton = 'btn-default' %}
        {% elif (rack_id == 3) and (slot_id =="1,2,8,9") %}
            {% set allQuadButton = 'btn-default' %}
            {% set allServersButton = 'btn-primary' %}
            {% set allClientsButton = 'btn-default' %}
        {% elif ((rack_id == 2) and (slot_id=="1,2,3,4,5,6,9,10,11,14,15,16")) %}
            {% set allQuadButton = 'btn-default' %}
            {% set allServersButton = 'btn-default' %}
            {% set allClientsButton = 'btn-primary' %}
        {% else %}
            {% set allQuadButton = 'btn-default' %}
            {% set allServersButton = 'btn-default' %}
            {% set allClientsButton = 'btn-default' %}
        {% endif %}

        {% if button_set == 'main' %}
            {% set navigationz = 'block' %}
            {% set navColor = 'btn-primary' %}
            {% set letterz = 'none' %}
            {% set letterColor = 'btn-default' %}
            {% set numberz = 'none' %}
            {% set numberColor = 'btn-default' %}
        {% elif button_set == 'letters' %}
            {% set navigationz = 'none' %}
            {% set navColor = 'btn-default' %}
            {% set letterz = 'block' %}
            {% set letterColor = 'btn-primary' %}
            {% set numberz = 'none' %}
            {% set numberColor = 'btn-default' %}
        {% elif button_set == 'numbers' %}
            {% set navigationz = 'none' %}
            {% set navColor = 'btn-default' %}
            {% set letterz = 'none' %}
            {% set letterColor = 'btn-default' %}
            {% set numberz = 'block' %}
            {% set numberColor = 'btn-primary' %}
         {% endif %}
    </div>
    <div class="error">
        <h1 style="color:red;">{{error}}</h1>
    </div>
    <ul>
        <li><a href="/projects"> << back </a></li>
        <li><a href="#"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailsModal">
  Project Details
</button></a></li>
    </ul>
    
    <!-- Modal -->
    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Project Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <span class="bolded"> Web Development Features Highlighted:</span>
                    CSS,
                    Bootstrap,
                    Jinja2, Regular Expressions, Responsive Design<br/><hr>
            <span class="bolded">Synopsis:</span> This UI was created 
             for a specific case in an environment where multiple video devices needed to be controlled, and the user needed to switch control to a different device on demand.<br/><hr>            
            <span class="bolded">Problem:</span>Confusion finding which device was being controlled at a given time and having to cross-reference the device that is located remotely. <br /><hr>
            
            <span class="bolded">Implementation:</span> At the time, I wasn't proficient in Javascript, so I coded around different problems probably in the least efficient way with Jinja and CSS. Other than that, each button here was meant to be wired to a python script in the backend that would translate the information, triage and send to the proper devices. (The buttons are not wired to the python scripts in this example page)<br /><hr>

            <span class="bolded">Solution:</span> HTML user interface that puts everything in one place for the user, and visually displays what device is being controlled at any time. This saves a lot of time, because the user does not have to keep cross-referencing the actual physical device that is stored in a remote location.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="controller-main-content">


        <div class='row'>
            <div class='col-sm-6 stb-selection'>
                

                <table class="table" id="view-table">
                    
                    <!-- row 1 -->
                    <tr>
                        <td>
                            <div class="viewbox {% if rack_id == 3  and slot_id == '8' %} selected-green{% endif %}">View 1 | Rack 3, Slot 8</div>
                           <button type="button" class="btn btn-default{% if rack_id == 3  and slot_id == '8' %} selected-green{% endif %} modalBtns btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='3', slot_id='8')}}">CONTROL</a></button><button type="button" class="btn btn-default btn-override">Fullscreen</button>
                        </td>
                        <td>
                            <div class="viewbox {% if rack_id == 2  and slot_id == '14' %} selected-green{% endif %}">View 5 | Rack 2, Slot 14</div>
                           <button type="button" class="btn btn-default{% if rack_id == 2 and slot_id == '14' %} selected-green{% endif %} modalBtns btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='14')}}">CONTROL</a></button><button type="button" class="btn btn-default btn-override">Fullscreen</button>
                        </td>
                        <td>
                            <div class="viewbox {% if rack_id == 3  and slot_id == '1' %} selected-green{% endif %}">View 9 | Rack 3, Slot 1</div>
                           <button type="button" class="btn btn-default{% if rack_id == 3  and slot_id == '1' %} selected-green{% endif %} modalBtns btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='3', slot_id='1')}}">CONTROL</a></button><button type="button" class="btn btn-default btn-override">Fullscreen</button>
                        </td>
                        <td>
                            <div class="viewbox {% if rack_id == 2  and slot_id == '1' %} selected-green{% endif %}">View 13 | Rack 2, Slot 1</div>
                           <button type="button" class="btn btn-default{% if rack_id == 2  and slot_id == '1' %} selected-green{% endif %} modalBtns btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='1')}}">CONTROL</a></button><button type="button" class="btn btn-default btn-override">Fullscreen</button>
                        </td>
                    </tr>

                    <!-- row 2 -->
                    <tr>
                        <td>
                            <div class="viewbox {% if rack_id == 2  and slot_id == '15' %} selected-green{% endif %}">View 2 | Rack 2, Slot 15</div>
                           <button type="button" class="btn btn-default{% if rack_id == 2  and slot_id == '15' %} selected-green{% endif %} modalBtns btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='15')}}">CONTROL</a></button><button type="button" class="btn btn-default btn-override">Fullscreen</button>
                        </td>
                        <td>
                            <div class="viewbox {% if rack_id == 2  and slot_id == '16' %} selected-green{% endif %}">View 6 | Rack 2, Slot 16</div>
                           <button type="button" class="btn btn-default{% if rack_id == 2  and slot_id == '16' %} selected-green{% endif %} modalBtns btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='16')}}">CONTROL</a></button><button type="button" class="btn btn-default btn-override">Fullscreen</button>
                        </td>
                        <td>
                            <div class="viewbox {% if rack_id == 2  and slot_id == '2' %} selected-green{% endif %}">View 10 | Rack 2, Slot 2</div>
                           <button type="button" class="btn btn-default{% if rack_id == 2  and slot_id == '2' %} active{% endif %} modalBtns btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='2')}}">CONTROL</a></button><button type="button" class="btn btn-default btn-override">Fullscreen</button>
                        </td>
                        <td>
                            <div class="viewbox {% if rack_id == 2  and slot_id == '3' %} selected-green{% endif %}">View 14 | Rack 2, Slot 3</div>
                           <button type="button" class="btn btn-default{% if rack_id == 2  and slot_id == '3' %} selected-green{% endif %} modalBtns btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='3')}}">CONTROL</a></button><button type="button" class="btn btn-default btn-override">Fullscreen</button>
                        </td>
                    </tr>

                    <!-- row 3 -->
                    <tr>
                        <td>
                            <div class="viewbox {% if rack_id == 3  and slot_id == '5' %} selected-green{% endif %}">View 3 | Rack 3, Slot 5</div>
                           <button type="button" class="btn btn-default{% if rack_id == 3  and slot_id == '5' %} selected-green{% endif %} modalBtns btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='3', slot_id='5')}}">CONTROL</a></button><button type="button" class="btn btn-default btn-override">Fullscreen</button>
                        </td>
                        <td>
                            <div class="viewbox {% if rack_id == 2  and slot_id == '9' %} selected-green{% endif %}"> View 7 | Rack 2, Slot 9</div>
                           <button type="button" class="btn btn-default{% if rack_id == 2  and slot_id == '9' %} selected-green{% endif %} modalBtns btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='9')}}">CONTROL</a></button><button type="button" class="btn btn-default btn-override">Fullscreen</button>
                        </td>
                        <td>
                            <div class="viewbox {% if rack_id == 3  and slot_id == '2' %} selected-green{% endif %}">View 11 | Rack 3, Slot 2</div>
                           <button type="button" class="btn btn-default{% if rack_id == 3  and slot_id == '2' %} active{% endif %} modalBtns btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='3', slot_id='2')}}">CONTROL</a></button><button type="button" class="btn btn-default btn-override">Fullscreen</button>
                        </td>
                        <td>
                            <div class="viewbox {% if rack_id == 2  and slot_id == '4' %} selected-green{% endif %}">View 15 | Rack 2, Slot 4</div>
                           <button type="button" class="btn btn-default {% if rack_id == 2  and slot_id == '4' %} selected-green{% endif %} modalBtns btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='4')}}">CONTROL</a></button><button type="button" class="btn btn-default btn-override">Fullscreen</button>
                        </td>
                    </tr>

                    <!-- row 4 -->
                    <tr>
                        <td>
                            <div class="viewbox {% if rack_id == 2  and slot_id == '10' %} selected-green{% endif %}">View 4 | Rack 2, Slot 10</div>
                           <button type="button" class="btn btn-default{% if rack_id == 2  and slot_id == '10' %} selected-green{% endif %} modalBtns btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='10')}}">CONTROL</a></button><button type="button" class="btn btn-default btn-override">Fullscreen</button>
                        </td>
                        <td>
                            <div class="viewbox {% if rack_id == 2  and slot_id == '11' %} selected-green{% endif %}">View 8 | Rack 2 Slot 11</div>
                           <button type="button" class="btn btn-default{% if rack_id == 2  and slot_id == '11' %} selected-green{% endif %} modalBtns btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='11')}}">CONTROL</a></button><button type="button" class="btn btn-default btn-override">Fullscreen</button>
                        </td>
                        <td>
                            <div class="viewbox {% if rack_id == 2  and slot_id == '5' %} selected-green{% endif %}">View 12 | Rack 2, Slot 5</div>
                           <button type="button" class="btn btn-default{% if rack_id == 2  and slot_id == '5' %} selected-green{% endif %} modalBtns btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='5')}}">CONTROL</a></button><button type="button" class="btn btn-default btn-override">Fullscreen</button>
                        </td>
                        <td>
                            <div class="viewbox {% if rack_id == 2  and slot_id == '6' %} selected-green{% endif %}">View 16 | Rack 2, Slot 6</div>
                           <button type="button" class="btn btn-default{% if rack_id == 2  and slot_id == '6' %} selected-green{% endif %} modalBtns btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='6')}}">CONTROL</a></button><button type="button" class="btn btn-default btn-override">Fullscreen</button>
                        </td>
                    </tr>
                    <tr>
                       
                        
                       
                    </tr>
                </table>



                <table class="table" id="stb-table">
                    <tr>
            
                        <th>
                            <a href="{{url_for('controller_app_example', button_set=button_set, quad='noQuad', rack_id='2')}}" class="btn btn-default modalBtns"><h4>A02 - Child Devices</h4></a>
                        </th>
                        <th>
                             <a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='3')}}" class="btn btn-default modalBtns"><h4>A03 - Parent Devices</h4></a>
                        </th>
                         <td>
                            <button type="button"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='true')}}" class='btn btn-default {{allQuadButton}} modalBtns'>All Multiviewer STB's</a></button>
                        </td>
                    </tr>
                    <!-- row 1 -->
                    <tr>
                         <td nowrap> 
                            <button type="button" class="btn btn-default {% if rack_id == 2  and slot_id == '1' %} selected-green{% endif %} btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='1')}}"><p>slot 1</p></a></button>
                            <button type="button" class="btn btn-default {% if rack_id == 2  and slot_id == '2' %} selected-green{% endif %} btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='2')}}"><p>slot 2</p></a></button>
                            <button type="button" class="btn btn-default {% if rack_id == 2  and slot_id == '3' %} selected-green{% endif %} btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='3')}}"><p>slot 3</p></a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default {% if rack_id == 3  and slot_id == '1' %} selected-green{% endif %} btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='3', slot_id='1')}}"><p>slot 1</p></a></button>
                        </td>
                        <td>
                            <button type="button"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='3', slot_id='1,2,8,9')}}" class="btn {{allServersButton}} modalBtns">All Servers</a></button>
                        </td>
                    
                    </tr>
                    <!-- row 2 -->

                    <tr>
                        <td nowrap> 
                            <button type="button" class="btn btn-default {% if rack_id == 2  and slot_id == '4' %} selected-green{% endif %} btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='4')}}"><p>slot 4</p></a></button>
                            <button type="button" class="btn btn-default {% if rack_id == 2  and slot_id == '5' %} selected-green{% endif %} btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='5')}}"><p>slot 5</p></a></button>
                            <button type="button" class="btn btn-default {% if rack_id == 2  and slot_id == '6' %} selected-green{% endif %} btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='6')}}"><p>slot 6</p></a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default {% if rack_id == 3  and slot_id == '2' %} selected-green{% endif %} btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='3', slot_id='2')}}"><p>slot 2</p></a></button>
                        </td>
                         <td>
                            <button type="button"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='1,2,3,4,5,6,9,10,11,14,15,16')}}" class="btn {{allClientsButton}} modalBtns">All Clients</a></button>
                        </td>
                    </tr>
                    <!-- row 3 -->
                     <tr>
                        <td nowrap> 
                            <button type="button" class="btn btn-default {% if rack_id == 2  and slot_id == '7' %} selected-green{% endif %} btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='7')}}"><p>slot 7</p></a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='3', slot_id='2')}}"><p>slot 2</p></a></button>
                        </td>
                    </tr>
                    <!-- row 4 -->
                     <tr>
                        <td nowrap> 
                            <button type="button" class="btn btn-default {% if rack_id == 2  and slot_id == '8' %} selected-green{% endif %} btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='8')}}"><p>slot 8</p></a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='3', slot_id='2')}}"><p>slot 2</p></a></button>
                        </td>
                    </tr>

                    <!-- row 5 -->
                     <tr>
                        <td nowrap> 
                            <button type="button" class="btn btn-default {% if rack_id == 2  and slot_id == '9' %} selected-green{% endif %} btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='9')}}"><p>slot 9</p></a></button>
                            <button type="button" class="btn btn-default {% if rack_id == 2  and slot_id == '10' %} selected-green{% endif %} btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='10')}}"><p>slot 10</p></a></button>
                            <button type="button" class="btn btn-default {% if rack_id == 2  and slot_id == '11' %} selected-green{% endif %} btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='11')}}"><p>slot 11</p></a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default {% if rack_id == 3  and slot_id == '5' %} selected-green{% endif %} btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='3', slot_id='5')}}"><p>slot 5</p></a></button>
                        </td>
                    </tr>
                    <!-- row 6 -->
                     <tr>
                        <td nowrap> 
                            <button type="button" class="btn btn-default btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='13')}}"><p>slot 12</p></a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default {% if rack_id == 3  and slot_id == '6' %} selected-green{% endif %} btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='3', slot_id='2')}}"><p>slot 6</p></a></button>
                        </td>
                    </tr>

                    <!-- row 7 -->  
                    <tr>
                        <td nowrap> 
                            <button type="button" class="btn btn-default btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='13')}}"><p>slot 13</p></a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='3', slot_id='7')}}"><p>slot 7</p></a></button>
                        </td>
                    </tr>

                    <!-- row 8 -->
                    <tr>
                        <td nowrap> 
                            <button type="button" class="btn btn-default {% if rack_id == 2  and slot_id == '14' %} selected-green{% endif %}  btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='14')}}"><p>slot 14</p></a></button>
                            <button type="button" class="btn btn-default {% if rack_id == 2  and slot_id == '15' %} selected-green{% endif %} btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='15')}}"><p>slot 15</p></a></button>
                            <button type="button" class="btn btn-default {% if rack_id == 2  and slot_id == '16' %} selected-green{% endif %} btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='2', slot_id='16')}}"><p>slot 16</p></a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default {% if rack_id == 3  and slot_id == '8' %} selected-green{% endif %} btn-override"><a href="{{url_for('controller_app_example',  button_set=button_set, quad='noQuad', rack_id='3', slot_id='8')}}"><p>slot 8</p></a></button>
                        </td>
                    </tr>



                </table>

               

            </div> <!-- this closes the left half 'col-sm-6' div -->
            <div class ='col-sm-6'>
                <table>
                    <tr>
                        <td>
                            <a href="{{url_for('controller_app_example', modalMode='false', button_set='main', quad=quad, rack_id=rack_id, slot_id=slot_id)}}" class="btn {{navColor}}"> Navigation</a>
                        </td>
                        <td>
                            <a href= "{{url_for('controller_app_example', modalMode='false', button_set='letters', quad=quad, rack_id=rack_id, slot_id=slot_id)}}" class="btn {{letterColor}}">Letters</a>
                        </td>
                        <td>
                            <a href= "{{url_for('controller_app_example', modalMode='false', button_set='numbers', quad=quad, rack_id=rack_id, slot_id=slot_id)}}" class="btn {{ numberColor }}">Numbers</a>
                        </td>
                    </tr>
                </table>
                <table class="table">
                    <tr>
                        <td>
                            <h4 id="chtune-title" style="color: black">Channel Tune:</h4>
                            <form action="#" method = 'post'>
                                <input type ='text' size='20' name='name' id='chTextBox' pattern="[0-9]{1,4}" placeholder="Channel Number" required>
                            <input type='submit' value='send' class='create-button'>
                            </form>
                            <span> Presets: </span>
                            <form action="#" method = 'post'>
                                    <fieldset>
                                        <input type="radio" name="name" value="111"> 111
                                        <input type="radio" name="name" value="201"> 201
                                        <input type="radio" name="name" value="205"> 205
                                        <input type="radio" name="name" value="206"> 206
                                        <input type="radio" name="name" value="361"> 361
                                        <input type="radio" name="name" value="362"> 362
                                        <input type="radio" name="name" value="391"> 391
                                        <input type="radio" name="name" value="500"> 500
                                        <input type="radio" name="name" value="800"> 800
                                        <input type='submit' value='send' class="create-button">
                                    </fieldset>
                                </form>
                        </td>
                    </tr>
                </table>

                <div class='row no-gutters main-buttons' style="display:{{navigationz}};">
                        <table class="table">
                        <tr>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='guide'>
                                    <input type='submit' value='guide' class='create-button button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='menu'>
                                    <input type='submit' value='menu' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='exit'>
                                    <input type='submit' value='exit' class='create-button'>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='info'>
                                    <input type='submit' value='info' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='upArrow'>
                                    <input type='submit' value='upArrow' class='create-button'>
                                </form>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                   <input type ='hidden' size='20' name='name' value='leftArrow'>
                                    <input type='submit' value='leftArrow' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='select'>
                                    <input type='submit' value='select' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='rightArrow'>
                                    <input type='submit' value='rightArrow' class='create-button'>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='downArrow'>
                                    <input type='submit' value='downArrow' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                        <input type ='hidden' size='20' name='name' value='dash'>
                                        <input type='submit' value='dash' class='create-button'>
                                </form>
                            </td>
                        </tr>
                    </table>

                    <table class="table">
                        <tr>
                            <td>
                                <form action="#" method = 'post' class="create-button-red">
                                    <input type ='hidden' size='20' name='name' value='red'>
                                    <input type='submit' value='red' class='create-button-red'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='yellow'>
                                    <input type='submit' value='yellow' class='create-button'>
                                </form>
                            </td>

                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='blue'>
                                    <input type='submit' value='blue' class='create-button'>
                                </form>
                            </td>
                             <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='green'>
                                    <input type='submit' value='green' class='create-button'>
                                </form>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='rewind'>
                                    <input type='submit' value='rewind' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='play'>
                                    <input type='submit' value='play' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='fastForward'>
                                    <input type='submit' value='fastForward' class='create-button'>
                                </form>
                            </td>
                        </tr>
                        <tr>
                             <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='record'>
                                    <input type='submit' value='record' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='stop'>
                                    <input type='submit' value='stop' class='create-button'>
                                </form>
                            </td>

                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='chanUp'>
                                    <input type='submit' value='chanUp' class='create-button'>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='prev'>
                                    <input type='submit' value='previous' class='create-button'>
                                </form>
                            </td>
                            <td>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='chanDown'>
                                    <input type='submit' value='chanDown' class='create-button'>
                                </form>
                            </td>
                        </tr>

                        <tr>

                        </tr>
                    </table>

                </div>

                 <!-- Table for Alphabet input buttons -->
                <div class = "integer-buttons" style='display:{{numberz}}'>
                    <table class="table">
                        <tr>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='1'>
                                    <input type='submit' value='1' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='2'>
                                    <input type='submit' value='2' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='3'>
                                    <input type='submit' value='3' class='create-button'>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                        <input type ='hidden' size='20' name='name' value='4'>
                                        <input type='submit' value='4' class='create-button'>
                                    </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                        <input type ='hidden' size='20' name='name' value='5'>
                                        <input type='submit' value='5' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='6'>
                                    <input type='submit' value='6' class='create-button'>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='7'>
                                    <input type='submit' value='7' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                        <input type ='hidden' size='20' name='name' value='8'>
                                        <input type='submit' value='8' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                        <input type ='hidden' size='20' name='name' value='9'>
                                        <input type='submit' value='9' class='create-button'>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                        <input type ='hidden' size='20' name='name' value='0'>
                                        <input type='submit' value='0' class='create-button'>
                                </form>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </table>
                </div>
                        <hr>
                        <div class='letter-container alpha-buttons' style='display: {{letterz}};'>
                        <table class="table">
                            <tr>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='q'>
                                        <input type='submit' value='q' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='w'>
                                        <input type='submit' value='w' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='e'>
                                        <input type='submit' value='e' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='r'>
                                        <input type='submit' value='r' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='t'>
                                        <input type='submit' value='t' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='y'>
                                        <input type='submit' value='y' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='u'>
                                        <input type='submit' value='u' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='i'>
                                        <input type='submit' value='i' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='o'>
                                        <input type='submit' value='o' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='p'>
                                        <input type='submit' value='p' class='create-button'>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='a'>
                                        <input type='submit' value='a' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='s'>
                                        <input type='submit' value='s' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='d'>
                                        <input type='submit' value='d' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='f'>
                                        <input type='submit' value='f' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='g'>
                                        <input type='submit' value='g' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='h'>
                                        <input type='submit' value='h' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='j'>
                                        <input type='submit' value='j' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='k'>
                                        <input type='submit' value='k' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='l'>
                                        <input type='submit' value='l' class='create-button'>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='z'>
                                        <input type='submit' value='z' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='x'>
                                        <input type='submit' value='x' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='c'>
                                        <input type='submit' value='c' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='v'>
                                        <input type='submit' value='v' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='b'>
                                        <input type='submit' value='b' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='n'>
                                        <input type='submit' value='n' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='m'>
                                        <input type='submit' value='m' class='create-button'>
                                    </form>
                                </td>
                            </tr>
                            </table>

                           
                        </div>
                  <!-- End of Alphabet Table -->



                <!-- End of Container -->
                </div>
            </div>
        </div> <!-- this closes the 'row' div -->
    </div> <!-- this closes the 'controller-main-content' div -->









</div>
{% endblock %}