{% extends 'base.html' %}
{% block content %}
<div class = 'pane'>
    <div class = 'flash'>
              {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    </div>
    <div class='row'>
        {% if quad == 'true' %}
            {% set allQuadButton = 'btn-primary' %}
            {% set allServersButton = 'btn-default' %}
            {% set allClientsButton = 'btn-default' %}
        {% elif (rack_id == 3) and (slot_id =="1,2,8,9") %}
            {% set allQuadButton = 'btn-default' %}
            {% set allServersButton = 'btn-primary' %}
            {% set allClientsButton = 'btn-default' %}
        {% elif ((rack_id == 2) and (slot_id=="1,2,3,4,5,6,9,10,11,14,15,16")) %}
            {% set allQuadButton = 'btn-default' %}
            {% set allServersButton = 'btn-default' %}
            {% set allClientsButton = 'btn-primary' %}
        {% else %}
            {% set allQuadButton = 'btn-default' %}
            {% set allServersButton = 'btn-default' %}
            {% set allClientsButton = 'btn-default' %}
        {% endif %}

        {% if button_set == 'main' %}
            {% set navigationz = 'block' %}
            {% set navColor = 'btn-primary' %}
            {% set letterz = 'none' %}
            {% set letterColor = 'btn-default' %}
            {% set numberz = 'none' %}
            {% set numberColor = 'btn-default' %}
        {% elif button_set == 'letters' %}
            {% set navigationz = 'none' %}
            {% set navColor = 'btn-default' %}
            {% set letterz = 'block' %}
            {% set letterColor = 'btn-primary' %}
            {% set numberz = 'none' %}
            {% set numberColor = 'btn-default' %}
        {% elif button_set == 'numbers' %}
            {% set navigationz = 'none' %}
            {% set navColor = 'btn-default' %}
            {% set letterz = 'none' %}
            {% set letterColor = 'btn-default' %}
            {% set numberz = 'block' %}
            {% set numberColor = 'btn-primary' %}
         {% endif %}
         modal mode:
         {{modalMode}}
         {% if modalMode == 'leftside' %}
            {% set modal_display = 'block' %}
         {% elif modalMode == 'rightside' %}
            {% set modal_displayb = 'block' %}
         {% endif %}
        }
    </div>
    <div class="error">
        <h1 style="color:red;">{{error}}</h1>
    </div>
    <div class="controller-main-bg"></div>
    <div class="controller-main-content">

        <div id="myModal1" class="modal" style="display: {{modal_display}};">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>This section of buttons are a representation of available devices that a user can control. Clicking a button here will give a user control of that particular device. Under the hood, the button click redirects to a new url that contains unique values for identifying the desired device. Those values are then parsed by a python function on the server side.</p>
                <hr>
                <p>These values are used later when a POST request is made to the current URL and executes the communication to an external device. The buttons on the right side are what execute a POST request in addition to passing in a value for what specific device command to send. (Click buttons on the right side for further explanation)</p>
            </div>
        </div>

        <div id="myModal2" class="modal" style="display: {{modal_displayb}}">
    
            <div class="modal-content">
                <span class="close">&times;</span>
               <p>Lorem ipsum</p>
            </div>
        </div>

        <div class='row'>
            <div class='col-sm-6 stb-selection'>
                <table class="table" id="stb-table">
                    <tr>
                        <td>
                            <a href="#" class ="btn btn-seconday modalBtns"><h4>A00</h4></a>
                        </td>
                        <td>
                            <a href="#" class="btn btn-secondary modalBtns"><h4>A01</h4></a>
                        </td>
                        <td>
                            <a href="{{url_for('controller_app_example', modalMode='leftside',button_set=button_set, quad='noQuad', rack_id='2')}}" class="btn btn-secondary modalBtns"><h4>A02</h4></a>
                            <div class="slot-drawer">
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='1')}}"><p>slot 1</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='2')}}"><p>slot 2</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='3')}}"><p>slot 3</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='4')}}"><p>slot 4</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='5')}}"><p>slot 5</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='6')}}"><p>slot 6</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='7')}}"><p>slot 7</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='8')}}"><p>slot 8</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='9')}}"><p>slot 9</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='10')}}"><p>slot 10</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='11')}}"><p>slot 11</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='12')}}"><p>slot 12</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='13')}}"><p>slot 13</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='14')}}"><p>slot 14</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='15')}}"><p>slot 15</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='16')}}"><p>slot 16</p></a></button>
                            </div>
                        </td>
                        <td>
                            <a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='3')}}" class="btn btn-secondary modalBtns"><h4>A03</h4></a>
                            <div class="slot-drawer">
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='3', slot_id='1')}}"><p>slot 1</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='3', slot_id='2')}}"><p>slot 2</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='3', slot_id='3')}}"><p>slot 3</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='3', slot_id='4')}}"><p>slot 4</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='3', slot_id='5')}}"><p>slot 5</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='3', slot_id='6')}}"><p>slot 6</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='3', slot_id='7')}}"><p>slot 7</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='3', slot_id='8')}}"><p>slot 8</p></a></button>
                                <button type="button" class="btn btn-secondary"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='3', slot_id='9')}}"><p>slot 9</p></a></button>
                            </div>
                        </td>
                        <td>
                            <a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='21')}}" class="btn btn-secondary modalBtns"><h4>B12</h4></a>
                        </td>
                        <td>
                            <a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='26')}}" class="btn btn-secondary modalBtns"><h4>WS 1</h4></a>
                        </td>
                        <td>
                            <button onclick="toggleDisplay()" class="create-button">Slots</button>
                        </td>
                    </tr>
                
                </table>
            
                <table class="table">
                    <tr>
                        <button type="button"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='true')}}" class='btn btn-secondary {{allQuadButton}} modalBtns'>All Quad STB's</a></button>
                        <button type="button"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='3', slot_id='1,2,8,9')}}" class="btn {{allServersButton}} modalBtns">All Servers</a></button>
                        <button type="button"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='1,2,3,4,5,6,9,10,11,14,15,16')}}" class="btn {{allClientsButton}} modalBtns">All Clients</a></button>
                    </tr>
                    
                    <tr>
                        <td>
                           <button type="button" class="btn btn-secondary{% if rack_id == 3  and slot_id == '8' %} active{% endif %} modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='3', slot_id='8')}}">STB 1</a></button></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary{% if rack_id == 2  and slot_id == '14' %} active{% endif %} modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='14')}}">STB 5</a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary{% if rack_id == 3  and slot_id == '1' %} active{% endif %} modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='3', slot_id='1')}}">STB 9</a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary{% if rack_id == 2  and slot_id == '1' %} active{% endif %} modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='1')}}">STB 13</a></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-secondary{% if rack_id == 2  and slot_id == '15' %} active{% endif %} modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='15')}}">STB 2</a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary{% if rack_id == 2  and slot_id == '16' %} active{% endif %} modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='16')}}">STB 6</a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary{% if rack_id == 2  and slot_id == '2' %} active{% endif %} modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='2')}}">STB 10</a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary{% if rack_id == 2  and slot_id == '3' %} active{% endif %} modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='3')}}">STB 14</a></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-secondary{% if rack_id == 3  and slot_id == '9' %} active{% endif %} modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='3', slot_id='9')}}">STB 3</a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary{% if rack_id == 2  and slot_id == '9' %} active{% endif %} modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='9')}}">STB 7</a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary{% if rack_id == 3  and slot_id == '2' %} active{% endif %} modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='3', slot_id='2')}}">STB 11</a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary{% if rack_id == 2  and slot_id == '4' %} active{% endif %} modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='4')}}">STB 15</a></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-secondary{% if rack_id == 2  and slot_id == '10' %} active{% endif %} modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='10')}}">STB 4</a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary{% if rack_id == 2  and slot_id == '11' %} active{% endif %} modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='11')}}">STB 8</a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary{% if rack_id == 2  and slot_id == '5' %} active{% endif %} modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='5')}}">STB 12</a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary{% if rack_id == 2  and slot_id == '6' %} active{% endif %} modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='2', slot_id='6')}}">STB 16</a></button>
                        </td>
                    </tr>
                </table>

                <table class="table">
                    <tr><button type="button" class="btn btn-secondary{% if rack_id == 26  and slot_id == '0' %} active{% endif %} modal Btns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='26')}}">HS17</a></button></tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-secondary{% if rack_id == 26 and slot_id == '1' %} active{% endif %} modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='26', slot_id='1')}}">Client 1</a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='26', slot_id='2')}}">Client 2</a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='26', slot_id='4')}}">Client 4</a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='26', slot_id='5')}}">Client 5</a></button>
                        </td>   

                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-secondary modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='26', slot_id='3')}}">Client 3</a></button>
                        </td>
                        <td>
                            <a href="#">Empty</a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='26', slot_id='6')}}">Client 6</a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='26', slot_id='7')}}">Client 7</a></button>
                        </td>
                    </tr>
                    <tr>
                        <button type="button" class="btn btn-secondary{% if rack_id == 26  and slot_id == '16' %} active{% endif %} modalBtns"><a href="{{url_for('controller_app_example', modalMode='leftside', button_set=button_set, quad='noQuad', rack_id='26', slot_id='16')}}">Dev Box</a></button>
                    </tr>
                </table>

            </div> <!-- this closes the left half 'col-sm-6' div -->
            <div class ='col-sm-6'>
                 <div class='button-container'>
                    <a href="{{url_for('controller_app_example', modalMode='false', button_set='main', quad=quad, rack_id=rack_id, slot_id=slot_id)}}" class="btn {{navColor}}"> Navigation</a>
                    <a href= "{{url_for('controller_app_example', modalMode='false', button_set='letters', quad=quad, rack_id=rack_id, slot_id=slot_id)}}" class="btn {{letterColor}}">Letters</a>
                    <a href= "{{url_for('controller_app_example', modalMode='false', button_set='numbers', quad=quad, rack_id=rack_id, slot_id=slot_id)}}" class="btn {{ numberColor }}">Numbers</a>
                    <div class="row">

                        <h4 id="chtune-title">Channel Tune:</h4>
                        <form action="#" method = 'post'>
                            <fieldset>
                                <input type="radio" name="name" value="111"> 111
                                <input type="radio" name="name" value="201"> 201
                                <input type="radio" name="name" value="205"> 205
                                <input type="radio" name="name" value="206"> 206
                                <input type="radio" name="name" value="361"> 361
                                <input type="radio" name="name" value="362"> 362
                                <input type="radio" name="name" value="391"> 391
                                <input type="radio" name="name" value="500"> 500
                                <input type="radio" name="name" value="800"> 800
                                <input type="radio" name="name" value="9650"> 9650
                                <input type='submit' value='send' class="create-button">
                            </fieldset>
                        </form>
                    </div>
                    <div class="row">
                        <form action="#" method = 'post'>
                            <input type ='text' size='20' name='name' id='chTextBox' pattern="[0-9]{1,4}" placeholder="Channel Number" required>
                            <input type='submit' value='send' class='create-button'>
                        </form>
                    </div>
                    <div class='row no-gutters main-buttons' style="display:{{navigationz}};">
                    <table class="table">
                        <tr>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='guide'>
                                    <input type='submit' value='guide' class='create-button button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='menu'>
                                    <input type='submit' value='menu' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='exit'>
                                    <input type='submit' value='exit' class='create-button'>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='info'>
                                    <input type='submit' value='info' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='upArrow'>
                                    <input type='submit' value='upArrow' class='create-button'>
                                </form>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>    
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                   <input type ='hidden' size='20' name='name' value='leftArrow'>
                                    <input type='submit' value='leftArrow' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='select'>
                                    <input type='submit' value='select' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='rightArrow'>
                                    <input type='submit' value='rightArrow' class='create-button'>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='downArrow'>
                                    <input type='submit' value='downArrow' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                        <input type ='hidden' size='20' name='name' value='dash'>
                                        <input type='submit' value='dash' class='create-button'>
                                </form>
                            </td>
                        </tr>    
                    </table>

                    <table class="table">
                        <tr>
                            <td>
                                <form action="#" method = 'post' class="create-button-red">
                                    <input type ='hidden' size='20' name='name' value='red'>
                                    <input type='submit' value='red' class='create-button-red'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='yellow'>
                                    <input type='submit' value='yellow' class='create-button'>
                                </form>
                            </td>
                         
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='blue'>
                                    <input type='submit' value='blue' class='create-button'>
                                </form>
                            </td>
                             <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='green'>
                                    <input type='submit' value='green' class='create-button'>
                                </form>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='rewind'>
                                    <input type='submit' value='rewind' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='play'>
                                    <input type='submit' value='play' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='fastForward'>
                                    <input type='submit' value='fastForward' class='create-button'>
                                </form>
                            </td>
                        </tr>
                        <tr>
                             <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='record'>
                                    <input type='submit' value='record' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='stop'>
                                    <input type='submit' value='stop' class='create-button'>
                                </form>
                            </td>
                           
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='chanUp'>
                                    <input type='submit' value='chanUp' class='create-button'>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='prev'>
                                    <input type='submit' value='previous' class='create-button'>
                                </form>
                            </td>
                            <td>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='chanDown'>
                                    <input type='submit' value='chanDown' class='create-button'>
                                </form>
                            </td>
                        </tr>
                       
                        <tr>
                           
                        </tr>
                    </table>

                </div>

                 <!-- Table for Alphabet input buttons -->
                <div class = "integer-buttons" style='display:{{numberz}}'>
                    <table class="table">
                        <tr>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='1'>
                                    <input type='submit' value='1' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='2'>
                                    <input type='submit' value='2' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='3'>
                                    <input type='submit' value='3' class='create-button'>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                        <input type ='hidden' size='20' name='name' value='4'>
                                        <input type='submit' value='4' class='create-button'>
                                    </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                        <input type ='hidden' size='20' name='name' value='5'>
                                        <input type='submit' value='5' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='6'>
                                    <input type='submit' value='6' class='create-button'>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                    <input type ='hidden' size='20' name='name' value='7'>
                                    <input type='submit' value='7' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                        <input type ='hidden' size='20' name='name' value='8'>
                                        <input type='submit' value='8' class='create-button'>
                                </form>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                        <input type ='hidden' size='20' name='name' value='9'>
                                        <input type='submit' value='9' class='create-button'>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <form action="#" method = 'post' class="create-button">
                                        <input type ='hidden' size='20' name='name' value='0'>
                                        <input type='submit' value='0' class='create-button'>
                                </form>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </table>
                </div>
                        <hr>
                        <table class="table">
                            <tr>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='q'>
                                        <input type='submit' value='q' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='w'>
                                        <input type='submit' value='w' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='e'>
                                        <input type='submit' value='e' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='r'>
                                        <input type='submit' value='r' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='t'>
                                        <input type='submit' value='t' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='y'>
                                        <input type='submit' value='y' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='u'>
                                        <input type='submit' value='u' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='i'>
                                        <input type='submit' value='i' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='o'>
                                        <input type='submit' value='o' class='create-button'>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='p'>
                                        <input type='submit' value='p' class='create-button'>
                                    </form>
                                </td>
                            </tr>
                        </table>
                        <div class='letter-container alpha-buttons' style='display: {{letterz}};'>
                            <div class="row">
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='a'>
                                        <input type='submit' value='a' class='create-button'>
                                    </form>
                                </div>
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='b'>
                                        <input type='submit' value='b' class='create-button'>
                                    </form>
                                </div>
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='c'>
                                        <input type='submit' value='c' class='create-button'>
                                    </form>
                                </div>
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='d'>
                                        <input type='submit' value='d' class='create-button'>
                                    </form>
                                </div>
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='e'>
                                        <input type='submit' value='e' class='create-button'>
                                    </form>
                                </div> 
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='f'>
                                        <input type='submit' value='f' class='create-button'>
                                    </form>
                                </div>              
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='g'>
                                        <input type='submit' value='g' class='create-button'>
                                    </form>
                                </div>
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='h'>
                                        <input type='submit' value='h' class='create-button'>
                                    </form>
                                </div>
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='i'>
                                        <input type='submit' value='i' class='create-button'>
                                    </form>
                                </div>
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='j'>
                                        <input type='submit' value='j' class='create-button'>
                                    </form>
                                </div>
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='k'>
                                        <input type='submit' value='k' class='create-button'>
                                    </form>
                                </div> 
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='l'>
                                        <input type='submit' value='l' class='create-button'>
                                    </form>
                                </div>              
                            </div>
                         
                            <div class="row">
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='m'>
                                        <input type='submit' value='m' class='create-button'>
                                    </form>
                                </div>
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='n'>
                                        <input type='submit' value='n' class='create-button'>
                                    </form>
                                </div>
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='o'>
                                        <input type='submit' value='o' class='create-button'>
                                    </form>
                                </div>
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='p'>
                                        <input type='submit' value='p' class='create-button'>
                                    </form>
                                </div>
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='q'>
                                        <input type='submit' value='q' class='create-button'>
                                    </form>
                                </div> 
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='r'>
                                        <input type='submit' value='r' class='create-button'>
                                    </form>
                                </div>              
                            </div>
                        
                            <div class="row">
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='s'>
                                        <input type='submit' value='s' class='create-button'>
                                    </form>
                                </div>
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='t'>
                                        <input type='submit' value='t' class='create-button'>
                                    </form>
                                </div>
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='u'>
                                        <input type='submit' value='u' class='create-button'>
                                    </form>
                                </div>
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='v'>
                                        <input type='submit' value='v' class='create-button'>
                                    </form>
                                </div>
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='w'>
                                        <input type='submit' value='w' class='create-button'>
                                    </form>
                                </div> 
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='x'>
                                        <input type='submit' value='x' class='create-button'>
                                    </form>
                                </div>              
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='y'>
                                        <input type='submit' value='y' class='create-button'>
                                    </form>
                                </div>
                                <div class="col-sm-2">
                                    <form action="#" method = 'post' class="create-button">
                                        <input type = 'hidden' name='name2' value='z'>
                                        <input type='submit' value='z' class='create-button'>
                                    </form>
                                </div>
                            </div>
                             <form action="#" method = 'post'>
                                <fieldset>
                                    <input type="radio" name="keyword" value="widgettestmon"> widgettestmon
                                    <input type="radio" name="keyword" value="widgetsoff"> widgetsoff
                                    <input type="radio" name="keyword" value="widgetcontroller_app_exampleon"> widgetcontroller_app_exampleon
                                    <input type="radio" name="keyword" value="showswmodules"> showswmodules
                                    <input type='submit' value='submit'>
                                </fieldset>
                        </div>  
                  <!-- End of Alphabet Table --> 



                <!-- End of Container -->
                </div>
            </div>
        </div> <!-- this closes the 'row' div -->
    </div> <!-- this closes the 'controller-main-content' div -->
            
            

           
        




</div>
{% endblock %}