{% extends 'base.html' %}
{% block content %}

<div class="cover">
    <h1>Jerome Ronquillo</h1>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." </p>

    <div class = "row">
        <a href="#" target="_top"><img id="social_icons" src='/static/instagram_svg.svg'></img></a>
        <a href="#" target="_top"><img id="social_icons" src='/static/twitter_svg.svg'></img></a>
        <a href="#" target="_top"><img id="social_icons" src='/static/github_svg.svg'></img></a>
        <a href="#" target="_top"><img id="social_icons" src='/static/youtube_svg.svg'></img></a>
        <a href="#" target="_top"><img id="social_icons" src='/static/wordpress_svg.svg'></img></a>
        <a href="#" target="_top"><img id="social_icons" src='/static/linkedin_svg.svg'></img></a>
    </div>
</div>

{% endblock %}