{% extends 'base.html' %}
{% block content %}
<ul>
	<li><a href="/">&lt;&lt;back</a></li>
	<li><a href="#controllerAppAnchor">Controller App</a></li>
	<li><a href="#neighborhoodMapAnchor">Neighborhood Map</a></li>
	<li><a href="#multiuserBlogAnchor">Multi User Blog</a></li>
	<li><a href="#reactPlaygroundAnchor">React Playground</a></li>
	<li><a href="#catalogAppAnchor">Catalog App</a></li>
</ul>

 

<div id="projects-container" >
	  
	  <div id="controllerAppAnchor" class="anchor"></div>
	  <section class="img-container">
	  	<!--<div class="row" id="controllerApp"></div> -->
	  	<div class="row">
	  		<a href="{{url_for('controller_app_example')}}"><img class="" src="static/images/controller-app-snippet.png" alt="project"></a>
	  		<div class="top-left white-text">Controller App</div>
	  	</div>
	  </section>

	   <div id="neighborhoodMapAnchor" class="anchor"></div>
	  <section class="img-container">
	  	<div class="row" id="neighborhoodMap">
	  		<a href="{{url_for('neighborhoodMap')}}"><img class="project-pic img-responsive" src="https://placeimg.com/1200/480/arch/grayscale" alt="project"></a>
	  	</div>
	  	<div class="top-left blue-text">Neighborhood Map</div>
	  </section>

	  <div id="multiuserBlogAnchor" class="anchor"></div>
	  <section class="img-container">
	  	<div class="row" id="mutliuserBlog">
	  		<a href="http://hello-udacity2323232323.appspot.com/blog"><img class="project-pic img-responsive" src="https://placeimg.com/1200/480/arch/grayscale" alt="project"></a>
	  	</div>
	  	<div class="top-left blue-text">Multi-User Blog</div>
	  </section>

	  <div id="catalogAppAnchor" class="anchor"></div>
	  <section class="img-container">
	  	<div class="row" id="catalogApp">
	  		<a href="#"><img class="project-pic img-responsive" src="https://placeimg.com/1200/480/arch/grayscale" alt="project"></a>
	  	</div>
	  	<div class="top-left blue-text">Catalog App</div>
	  </section>


	  <div id="reactPlaygroundAnchor" class="anchor"></div>
	  <section class="img-container">
	  	<div class="row" id="reactPlayground">
	  		<a href="#"><img class="project-pic img-responsive" src="https://placeimg.com/1200/480/arch/grayscale" alt="project"></a>
	  	</div>
	  	<div class="top-left blue-text">React Playground</div>
	  </section>

	 

	  
</div>
	<footer>
	  <p>&copy; Jerome Ronquillo</a></p>
	</footer>


<!-- Load React. -->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

<!-- Load React Component -->
<script src="like_button.js"></script>

{% endblock %}