{% extends 'base.html' %}
{% block content %}

<nav>
  <ul id='navbar'>
  	<li></li>
    <li><a href="#main1">main</a></li>
  </ul>
</nav>
<div id="projects-container">

	<div id="projects" class="work">
	  <h2 class="work-header">Lorem ipsum lorem ipsum lorem ipsum...</h2>
	  <a href="{{url_for('controller_app_example')}}" target="_blank" class="project project-tile">
	    <img class="project-pic" src="https://picsum.photos/200/200" alt="project">
	    <div class="project-title">Controller App</div>
	    <div class="project-description">Interface for selecting devices and sending commands to them</div>
	  </a>
	  <a href="#" target="_blank" class="project project-tile">
	    <img class="project-pic" src="https://picsum.photos/200/200" alt="project">
	    <div class="project-title">Project 2</div>
	  </a>
	  <a href="#" target="_blank" class="project project-tile">
	    <img class="project-pic" src="https://picsum.photos/200/200" alt="project">
	    <div class="project-title">Project 3</div>
	  </a>
	  <a href="#" target="_blank" class="project project-tile">
	    <img class="project-pic" src="https://picsum.photos/200/200" alt="project">
	    <div class="project-title">Project 4</div>
	  </a>
	  <a href="#" target="_blank" class="project project-tile">
	    <img class="project-pic" src="https://picsum.photos/200/200" alt="project">
	    <div class="project-title">Project 5</div>
	  </a>
	  <a href="#" target="_blank" class="project project-tile">
	    <img class="project-pic" src="https://picsum.photos/200/200" alt="project">
	    <div class="project-title">Project 6</div>
	  </a>

	  <a href="#" class="show-all" target="_blank">Show all</a>
	</div>
	<div id="contact" class="contact">
	  <div class="header">
	    <h1>Lorem ipsum</h1>
	    <p>Lorem ipsum lorem lorem ipsum ipsum</p>
	  </div>
	  <a href="#" target="_blank" class="contact-details">Facebook</a>
	  <a id='profile-link' href="#" target="_blank" class="contact-details">GitHub</a>
	  <a href="h#" target="_blank" class="contact-details">Twitter</a>
	  <a href="mailto:example@example.com" class="contact-details">Send a mail</a>
	  <a href="tel:555-555-5555" class="contact-details">Call me</a>
	</div>
	<footer>Footer Section
	  <p>&copy; Jerome Ronquillo</a></p>
	</footer>
</div>


{% endblock %}