<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>React App</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    
    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/babel">
  class MyApp extends React.Component{
    constructor(props){
      super(props);
      this.state={
        name: 'glitch Bot'
      }
    }
    render(){
      return(
        <div>
          < NavBar name={this.state.name} />
          < ToggleDisplay />
        </div>
      )
    }
  }

  class NavBar extends React.Component{
    constructor(props){
      super(props);
    }
    render(){
      var containerStyle = { overflow: 'hidden', backgroundColor: '#333', position: 'fixed', top: 0,
                             width: "100%"};
      var itemStyle = { float: 'left', display: 'block', color: '#f2f2f2', textAlign: 'center', padding: '14px 16px', textDecoration: 'none', fontSize: '17px'};      
      return(
        <div style={containerStyle}>
          
          <ul>
            <li style={itemStyle}><a href="/">Link 1</a></li>
            <li style={itemStyle}><a>Link 2</a></li>
            <li style={itemStyle}><a><span style={itemStyle}>Hello World {this.props.name}!</span></a></li>
          </ul>
        
        </div>
        )
    }
  }

  class ToggleDisplay extends React.Component{
    constructor(props){
      super(props);
      this.state = {
        display:true
      }
      this.toggleDisplay = this.toggleDisplay.bind(this);
    }

    toggleDisplay(){
      this.setState({
        display: !this.state.display
      });
    }

    render(){
    var toggleDisplayStyles = { marginTop: "100px"}
    var sideMenu = {  
      zIndex: 2,
      position: "absolute",
      top: 130,
      border: "red solid",
      backgroundColor: "white",
      bottom: 0,
      transition: "transform .3s ease-out",
      WebkitTransition: "-webkit-transform .3s ease-out",
      willChange: "transform",
      overflowY: "auto"}
    var overlay = {
      zIndex: 1,
      position: "absolute",
      top: 0,
      width: "100%",
      bottom: 0,
      backgroundColor: "rgba(0,0,0,0.5)"
    }
      return(
        <div style={toggleDisplayStyles}>
          <button onClick={this.toggleDisplay}>Toggle Display </button>
          {this.state.display && <div style={sideMenu}><button onClick={this.toggleDisplay}>Close </button><h1>Displayed!</h1></div>}
          {this.state.display && <div style={overlay}></div>}
        </div>
        );
      }
  }
  



  

  ReactDOM.render(<MyApp />, document.getElementById('root'));
    

    </script>
    <!--
      Note: this page is a great way to try React but it's not suitable for production.
      It slowly compiles JSX with Babel in the browser and uses a large development build of React.

      Read this section for a production-ready setup with JSX:
      http://reactjs.org/docs/add-react-to-a-website.html#add-jsx-to-a-project

      In a larger project, you can use an integrated toolchain that includes JSX instead:
      http://reactjs.org/docs/create-a-new-react-app.html

      You can also use React without JSX, in which case you can remove Babel:
      https://reactjs.org/docs/react-without-jsx.html
    -->
  </body>
</html>