<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>React App</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    
    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <style>
      body, html, #root{
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/babel">
  
  const styleTest = {
    transition: 'all 1s ease-out'
  };

  const sideMenu = {
        backgroundColor: "#FFF",
        width: "40%",
        height: "100%",
        position: "fixed",
        top:"0",
        left:"0",
        zIndex: "200",
      }

  class MyApp extends React.Component{
    constructor(props){
      super(props);
      this.state={
        name: 'glitch Bot',
        sideMenuOpen: false
      }
      this.handleToggle = this.handleToggle.bind(this);
      this.backdropClickHandler = this.backdropClickHandler.bind(this);
    }

    handleToggle(){
      this.setState({
        sideMenuOpen: !this.state.sideMenuOpen
      })
    }

    backdropClickHandler(){
      this.setState({
        sideMenuOpen: false
      })
    }
    

    render(){
      var container = {height: "100vh", width: "100vw", left: 0, top: 0}
      var section1Styles = { /* The image used */
                    backgroundImage: "url('https://placeimg.com/640/480/any/grayscale')",
                    backgroundColor: "white",

                    /* Full height */
                    height: "100%", 

                    /* Create the parallax scrolling effect */
                    backgroundAttachment: "fixed",
                    backgroundPosition: "center",
                    backgroundRepeat: "no-repeat",
                    backgroundSize: "cover"
      }

      var section2Styles = { /* The image used */
                    backgroundImage: "url('https://placeimg.com/640/480/any')",
                    backgroundColor: "white",

                    /* Full height */
                    height: "100%", 

                    /* Create the parallax scrolling effect */
                    backgroundAttachment: "fixed",
                    backgroundPosition: "center",
                    backgroundRepeat: "no-repeat",
                    backgroundSize: "cover"
      }

      var ptext = {position: "absolute", top:"50%", left:"30%", textAlign: "center", color: "#000", fontSize: "27px", letterSpacing: "8px", textTransform: "uppercase"}
      var border = { backgroundColor: "#FFF", color: "#111", padding: "20px", zIndex: "50"}
      var overlay = { height: "100px", backgroundColor: "white", fontSize: "36px"}
      
      return(
          <div style={container}>
            
            <div style={section1Styles}>
              < ToggleMenu handleToggle={this.handleToggle} />
              {this.state.sideMenuOpen && < SideMenu backdropClickHandler={this.backdropClickHandler} />}
              {this.state.sideMenuOpen && < BackDrop backdropClickHandler={this.backdropClickHandler} /> }
              <div style={ptext}>

                <span style={border}> Lorem to the Ipmsum </span>
              </div>
            </div>
            <div style={overlay}>Lorem Ipsum Lorem Ipsum!</div>
            <div style={section2Styles}></div>
            <div style={section1Styles}></div>
          </div>
      )
    }
  }

  class NavBar extends React.Component{
    constructor(props){
      super(props);
    }
    render(){
      var containerStyle = { overflow: 'hidden', backgroundColor: '#333', position: 'fixed', top: 0,
                             width: "100%"};
      var itemStyle = { float: 'left', display: 'block', color: '#f2f2f2', textAlign: 'center', padding: '14px 16px', textDecoration: 'none', fontSize: '17px'};      
      return(
        <div style={containerStyle}>
          
          <ul>
            <li style={itemStyle}><a href="/">Link 1</a></li>
            <li style={itemStyle}><a>Link 2</a></li>
            <li style={itemStyle}><a><span style={itemStyle}>Hello World {this.props.name}!</span></a></li>
          </ul>
        
        </div>
        )
    }
  }

  class BackDrop extends React.Component{
    constructor(props){
      super(props);
    }
    
    render(){
      var backDropStyle  ={width: "100%", height: "100%", position: "fixed", top: 0, left: 0, backgroundColor: "rgba(0,0,0,0.8)", zIndex: "100"}
      return(
        <div style={backDropStyle} onClick={this.props.backdropClickHandler}>
        
        </div>
        );
    }
  }

  class SideMenu extends React.Component{
    constructor(props){
      super(props);
    }
    render(){
      var xbar ={ 
        width: "35px",
        height: "5px",
        backgroundColor: "#333",
        margin: "6px 0",
        transition: "opacity 0.4s",
        transform: "rotate(-45deg) translate(-6px, 8px)"
      }

      var xbar2 = {
        width: "35px",
        height: "5px",
        backgroundColor: "#333",
        margin: "6px 0",
        transition: "0.4s",
        transform: "rotate(45deg) translate(0px, 0px)"
      }

      var open = {
        backgroundColor: "#FFF",
        width: "40%",
        height: "100%",
        position: "fixed",
        top:"0",
        zIndex: "200",
        transform: "translateX(0)"
      }

      var menuStyle;
      if(this.props.show){
        menuStyle=open
        console.log(menuStyle);
      }
      var listStyle ={ textAlign: "center", listStyle: "none", display: "flex", flexDirection: "column", justifyContent: "center" }
      return(
          <div style={sideMenu}>
            <div id="closeX" onClick={this.props.backdropClickHandler}>
              <div style={xbar}></div>
              <div style={xbar2}></div>
            </div>
            <ul style={listStyle}>
              <li><a href="#">Lorem 1</a></li>
              <li><a href="#">Lorem 2</a></li>
            </ul>
          </div>
      )
    }
  }

  class ToggleMenu extends React.Component{
    constructor(props){
      super(props);
    }

    render(){
      var iconBar = {
        width: "35px",
        height: "5px",
        backgroundColor: "#FFF",
        margin: "6px 0",
        transition: "0.4s"
      }
      return(
        <div>
           <div id='hamburger' onClick={this.props.handleToggle}>
              <div style={iconBar}></div>
              <div style={iconBar}></div>
              <div style={iconBar}></div>
            </div>
        </div> 
      );
    }
  }


  

  class CheckUserAge extends React.Component {
  constructor(props) {
    super(props);
    // change code below this line
    this.state = {
      input: '',
      userAge: ''
    }
    // change code above this line
    this.submit = this.submit.bind(this);
    this.handleChange = this.handleChange.bind(this);
  }
  handleChange(e) {
    this.setState({
      input: e.target.value,
      userAge: ''
    });
  }
  submit() {
    this.setState({
      userAge: this.state.input
    });
  }
  render() {
    var checkUserStyles = { }
    const buttonOne = <button onClick={this.submit}>Submit</button>;
    const buttonTwo = <button>You May Enter</button>;
    const buttonThree = <button>You Shall Not Pass</button>;
      return (
        <div>
          <h3>Enter Your Age to Continue</h3>
          <input
            style={inputStyle}
            type="number"
            value={this.state.input}
            onChange={this.handleChange} /><br />
          {
          this.state.userAge == ''  ? buttonOne : this.state.userAge >= 18 ? buttonTwo : buttonThree
          }
        </div>
      );
    }
  };

  class Portfolio1 extends React.Component {
    constructor(props) {
      super(props);
    }

    render(){
      var portfolio1Styles = { width: "100%", height: "100px", backgroundColor: "blue"}
      return(<div style={portfolio1Styles}></div>)
    };

  }

  
  



  

  ReactDOM.render(<MyApp />, document.getElementById('root'));
    

    </script>
    <!--
      Note: this page is a great way to try React but it's not suitable for production.
      It slowly compiles JSX with Babel in the browser and uses a large development build of React.

      Read this section for a production-ready setup with JSX:
      http://reactjs.org/docs/add-react-to-a-website.html#add-jsx-to-a-project

      In a larger project, you can use an integrated toolchain that includes JSX instead:
      http://reactjs.org/docs/create-a-new-react-app.html

      You can also use React without JSX, in which case you can remove Babel:
      https://reactjs.org/docs/react-without-jsx.html
    -->
  </body>
</html>